<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
</style>
<body>
<a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>

<h1>스포티파이 검색</h1>
<form action="/music/search">
    <input type="hidden" name="spotifyRequestType" value="SEARCH">
    <select name="searchType">
        <option value="TRACK">트랙</option>
        <option value="ARTIST">가수</option>
        <option value="ALBUM">앨범</option>
    </select><br>
    <input type="text" name="keyword">
    <button type="submit">보러가기</button>
</form>

<h1>최신곡 조회</h1>
<form action="/music/new">
    <button type="submit">보러가기</button>
</form>
</body>
</html>