<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
<body>
<h1>검색 결과</h1>
<table>
    <thead> <tr>
        <th>이미지</th>
        <th>제목</th>
        <th>가수명</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music : ${list}">
        <td>
            <img th:src="${music.imageUrl}">
        </td>
        <td >
            <a th:href="@{/music/track/{trackId} (trackId=${music.trackId})}" th:text="${music.trackName}"></a>
        </td>
        <td th:each="artist : ${music.artistList}">
            <a th:href="@{/music/artist/{artistId}(artistId=${artist.id})}"
               th:text="${artist.name}">
            </a>
        </td>
    </tr>
    </tbody>
</table>
</span>
</body>
</html>