<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>아티스트 정보</h1>
<table>
    <thead> <tr>
        <th>이미지</th>
        <th>아티스트ID</th>
        <th>아티스트명</th>
        <th>인기도</th>
        <th>장르</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <img th:src="${artist.imageUrl}">
        </td>
        <td th:text="${artist.id}"></td>
        <td th:text="${artist.name}"></td>
        <td th:text="${artist.popularity}"></td>
        <td th:each="genre : ${artist.genreList}" >
            <span th:text="${genre}"></span>
        </td>
    </tr>
    </tbody>
</table>
</span>
</body>
</html>